.example-card {
  width: 250px;
  height: 380px;
  background-color: rgb(226, 226, 152);
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-header {
  width: 100px;
  text-align: center;
  margin-left: 70px;
}
.mat-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.mat-card-image {
  width: 230px;
  height: 180px;
  padding: 10px 10px 10px 20px;
}
.mat-card-content {
  float: center;
  font-weight: bold;
}
